@charset "utf-8";
/* CSS Document */
/* main */ /* section-top */
.section-top {
  margin-bottom: 100px;
}
.section-top__image {
  max-width: 1040px;
  height: 257px;
  margin: 0 auto;
}
.section-top__image img {
  width: 1040px;
  height: 257px;
  object-fit: cover;
  object-position: 0 55%;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .section-top {
    margin-bottom: 40px;
  }
  .section-top__image {
    max-width: 305px;
    height: 130px;
  }
  .section-top__image img {
    width: 305px;
    height: 130px;
    border-radius: 5px;
    object-position: 0 90%;
  }
}
/* section-news */
.section-news {
  margin-bottom: 40px;
}
.title {
  font-size: 2.3rem;
  font-weight: 600;
}
.sub-title {
  font-size: 2.0rem;
  padding-bottom: 35px;
}
.section-news li {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto;
  list-style-type: none;
  align-items: center;
  text-align: left;
  padding-bottom: 60px;
}
.section-news__article time {
  font-size: 2.0rem;
  font-weight: 600;
  color: #332525;
}
.section-news__article h3 {
  display: inline-block;
  font-size: 2.0rem;
  font-weight: 600;
  color: #332525;
  padding-left: 30px;
}
.section-news__article p {
  font-size: 1.6rem;
  color: #332525;
  padding-top: 20px;
}
.section-news__picture {
  width: 330px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
  .sub-title {
    font-size: 1.3rem;
    padding-bottom: 20px;
    line-height: 1.5rem;
  }
  .section-news {
    margin-bottom: 0;
  }
  .section-news li {
    flex-flow: column;
    max-width: 305px;
    padding-bottom: 50px;
  }
	.section-news li:last-child {
		padding-bottom: 40px;
	} 
  .section-news__article time {
    font-size: 1.6rem;
  }
  .section-news__article h3 {
    display: inline-block;
    font-size: 1.6rem;
    padding-left: 15px;
  }
  .section-news__article p {
    width: 305px;
    font-size: 1.4rem;
    padding: 10px 0 20px;
  }
  .section-news__picture {
    width: 305px;
    height: 155px;
    border-radius: 5px;
    order: 1;
  }
}