@charset "utf-8";
/* CSS Document */
/* main */ /* section-top */
.section-top {
  margin-bottom: 100px;
}
.section-top__image {
  max-width: 1040px;
  height: 257px;
  margin: 0 auto;
}
.section-top__image img {
  width: 1040px;
  height: 257px;
  object-fit: cover;
  object-position: 0 48%;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .section-top {
    margin-bottom: 40px;
  }
  .section-top__image {
    max-width: 305px;
    height: 130px;
  }
  .section-top__image img {
    width: 305px;
    height: 130px;
    border-radius: 5px;
  }
}
/* section-menu*/
.title {
  font-size: 2.3rem;
  font-weight: 600;
}
.sub-title {
  font-size: 2.0rem;
  padding-bottom: 35px;
}
.section-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
  list-style-type: none;
  align-items: center;
}
.section-menu ul li {
  width: 325px;
  margin-bottom: 50px;
}
.section-menu li img {
  width: 325px;
  height: 215px;
  vertical-align: bottom;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.price {
  display: flex;
  justify-content: space-around;
  font-size: 2.0rem;
  font-weight: 600;
  color: #332525;
  background-color: #F5EEB2;
  padding: 25px 52px;
  border-radius: 0 0 10px 10px;
}
.section-menu ul li:nth-child(7), .section-menu ul li:nth-child(8), .section-menu ul li:nth-child(9) {
  margin-bottom: 0;
}
.section-menu ul li:last-child {
  display: none;
}
.section-menu__text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #332525;
  margin: 50px 0 100px;
}
@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
  .sub-title {
    font-size: 1.3rem;
    padding-bottom: 20px;
    line-height: 1.5rem;
  }
  .section-menu ul {
    max-width: 305px;
  }
  .section-menu ul li {
    width: 145px;
    margin-bottom: 20px;
  }
  .section-menu li img {
    width: 145px;
    height: 90px;
    border-radius: 5px 5px 0 0;
  }
  .price {
    font-size: 1.2rem;
    padding: 10px 10px;
    border-radius: 0 0 5px 5px;
  }
  .section-menu ul li:nth-child(7), .section-menu ul li:nth-child(8), .section-menu ul li:nth-child(9) {
    margin-bottom: 20px;
  }
  .section-menu ul li:last-child {
    display: flex;
    width: 145px;
  }
  .section-menu ul li img:last-child {
    width: 100px;
    height: auto;
    margin: 0 auto;
  }
  .section-menu__text {
    font-size: 1.7rem;
    margin: 5px 0 40px;
  }
}
